<section id="modulo-oferta">
    <h2>El modulo de oferta</h2>
    <ul>
        <li>
            <b class="titulo-oferta">Titulo oferta 1</b>
            <p class="texto-oferta">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ipsa omnis similique sed expedita porro, necessitatibus, tenetur enim eius quasi.</p>
        </li>
        <li>
            <b class="titulo-oferta">Titulo oferta 2</b>
            <p class="texto-oferta">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure velit laudantium dolor quos temporibus esse excepturi asperiores, doloribus laboriosam, quisquam!</p>
        </li>
        <li>
            <b class="titulo-oferta">Titulo oferta 3</b>
            <p class="texto-oferta">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda cumque quia maiores possimus optio sit nesciunt at aliquid blanditiis!</p>
        </li>
        <li>
            <b class="titulo-oferta">Titulo oferta 4</b>
            <p class="texto-oferta">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum eaque aliquam debitis maiores praesentium, necessitatibus neque libero rerum nam saepe!</p>
        </li>
        <li>
            <b class="titulo-oferta">Titulo oferta 5</b>
            <p class="texto-oferta">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam nulla eveniet quos reiciendis ad, iusto a illum tempora omnis blanditiis.</p>
        </li>
    </ul>
</section>